/**
 * src/styles.css
 *
 * @format
 */

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #808080;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header {
  color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  border: blue;
}

form label {
  display: block;
}

form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc111;
  border-radius: 4px;
}

form button {
  background-color: #ffd700;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
